<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dulk.baseMan.mapper.BannerMapper">
    <resultMap id="bannerUrl" type="java.util.Map">
    </resultMap>
    <select id="findBannerUrl" resultMap="bannerUrl">
        select AppLinkUrls,AppImgUrl from BannerImage where Name='移动端首页'
        </select>
</mapper>