<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dulk.baseMan.mapper.BrandMapper">
    <resultMap id="brand" type="java.util.HashMap"></resultMap>
    <select id="findCourse" resultMap="brand">
        SELECT Title,AppImgUrl,AppContent FROM DevelopmentExperience WHERE IsValid=1 ORDER BY Sort ASC
    </select>
    <resultMap id="brandVideo" type="java.util.HashMap"></resultMap>
    <select id="findVideo" resultMap="brandVideo">
        select Title,CoverUrl,VideoUrl from BrandVideo where IsValid=1 and Type=0 ORDER BY Sort DESC
    </select>
</mapper>