<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dulk.baseMan.mapper.SellMapper">
   <resultMap id="district" type="java.util.HashMap">
   </resultMap>
    <select id="store"  resultMap="district">
        select s.sName,s.sContactInformation,s.sAddress from Store s
        LEFT JOIN sys_District d ON s.sDistinctId = d.sdisID
        LEFT JOIN sys_City c on s.sCityId=c.sCityID
        <where>
            <if test='city != null and city != "" and city != "0"'>
                and c.sCityID=#{city}
            </if>
            <if test='dir != null and dir != "" and dir != "0"'>
               and d.sdisID=#{dir}
            </if>
        </where>
    </select>
    <resultMap id="prov" type="java.util.HashMap">
    </resultMap>
    <select id="findProvince"  resultMap="prov">
        select sProID,sProName from sys_Province
    </select>
    <resultMap id="city" type="java.util.HashMap">
    </resultMap>
    <select id="findCity" resultMap="city">
        select sCityID,sCityName from sys_City where sProID =#{provId}
    </select>
    <resultMap id="country" type="java.util.HashMap">
    </resultMap>
    <select id="findCountry" resultMap="country">
        select sdisID,sdisName from sys_District where sdisCityID = #{cityId}
    </select>
</mapper>